doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    meta(name='Description', content='A piece by Satpreet Kahlon, 2016')

    link(rel='stylesheet', href='/style/main.css')
  body
    block content
